<h1>All Song Reviews</h1>

 <h5>Click "Search" with blank space to refresh back to the Full List </h5>
<%= form_with url: songs_path, method: :get, local: true do |f| %>
    <%= f.text_field :artist_name %>
    <%= f.submit 'Search Artist' %>
<% end %>
<br><br>
<%= link_to "Create a Review", new_song_path %>

<br><br>

<% @songs.each do |song|%>
    <%= link_to song.title, song_path(song) %> by <%= song.artist_name%><br>
<% end %>