<h1>All Songs Reviewed</h1>

<%= link_to "Create a Review", new_song_path %>

<br><br>

<%= form_with url: songs_path, method: :get, local: true do |f| %>
    <%= f.text_field :artist_name %>
    <%= f.submit %>
<% end %>
<% @songs.each do |song|%>
    <%= link_to song.title, song_path(song) %> by <%= song.artist_name%><br>
<% end %>

<%= link_to "My Reviews", songs_path(my_songs: true) %>