<div id='navbar'>
    <%= link_to 'All Songs', songs_path %>
    <p><%#= user_songs_path(current_user) %></p>
    <%#= link_to 'User Songs', user_songs_path(current_user) %>
</div>

<h1><%= @song.title %> </h1>

Artist: <%= @song.artist_name%>
<br>
Genre: <%= @song.genre %><br>
Language: <%= @song.language %><br>
<a href="<%= @song.link %>" target="_blank"> <%= @song.title %> Video</a>
<% if @song.user_id == current_user.id %>
    <%= button_to "Edit Song Info", edit_song_path(@song), method: :get %>
<% end %>
<p>Review: </p>
<% @song.song_reviews.each do |review| %>
    <div><%= review.review %></div>
    <% if review.user == current_user %>    
        <%= button_to "Edit Review", edit_song_song_review_path(@song, review), method: :get %>
        <%= button_to "Delete Review", song_song_review_path(@song, review), method: :delete %>
    <% end %>
<% end %>

<%= link_to "Add Review", new_song_song_review_path(@song) %>


<%#= link_to "Edit Review", edit_song_path(@song) %>
<br>

<%= link_to "Back to the list", songs_path %>


<%#= render partial: "form", locals: (song: @song) %>