<h1><%= @song.title %> </h1>

Artist: <%= @song.artist_name%>
<br>
Genre: <%= @song.genre %><br>
Language: <%= @song.language %><br>
<a href="<%= @song.link %>" target="_blank"> <%= @song.title %> Video</a>

<p>Review: <%= @song.song_reviews.where(user: current_user).limit(1).first.review %></p>


<%= link_to "Edit Review", edit_user_song_path(current_user, @song) %>
<br>

<%= link_to "Back to the list", songs_path %>


<%#= render partial: "form", locals: (song: @song) %>